body {
  background-image: url("https://cdn140.picsart.com/241117488008202.gif?r240x240");
  background-size: 1366px 1024px;
  color: #001a1a;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 10px;
    width: 10%;
    background-color: #e6ffff;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-color: #e6ffff;
  border-radius: 25px;
  border-style: solid;
}
.video {
  text-align: center;
  padding:10px 50px 10px 50px;
}
li a {
  display: block;
  width: 60px;
  color: #001a1a;
  padding: 8px 16px;
  text-decoration: none;
  background-color:#e6ffff;
  border-color: #e6ffff;
  border-radius: 25px;
  border-style: solid;
}
li a:hover {
    background-color: #ffe6e6;
    color: #001a1a;
}
.body {
  padding: 0 0 0 15%;
}
.info {
  text-align: center;
  padding:10px 50px 10px 50px;
  background-color:#e6ffff;
  color: #001a1a;
  border-color: #e6ffff;
  border-radius: 25px;
  border-style: solid;
}
.caption {
  color:#001a1a;
  text-align: center;
}
.link {
  text-decoration:none;
  color:#001a1a;
}
.image {
  height:300px;
}
.th1, .th2{
  background-color:#e6ffff;
  border-color: #e6ffff;
  border-radius: 25px;
  border-style: solid;
  overflow: auto;
  padding: 10px 10px 10px 10px;
  text-decoration:none;
  color:#001a1a;
}
hr {
  color:thistle;
}