body {
  background-image: url("https://pa1.narvii.com/6384/51e6229eeaf688c67bce5e39688898b34bed1fa2_hq.gif");
  background-size: 1366px 1024px;
  color: #001a1a;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 50 0 50 10;
    width: 10%;
    background-color: #ffe6e6;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-color: #ffe6e6;
  border-radius: 25px;
  border-style: solid;
}
.info {
  text-align: center;
  padding:10px 50px 10px 50px;
  background-color:#ffe6e6;
  color: #1a0000;
  border-color: #ffe6e6;
  border-radius: 25px;
  border-style: solid;
}
.break1 {
  padding: 0 500px 0 0;
}
li a {
  display: block;
  width: 60px;
  color: #1a0000;
  padding: 8px 16px;
  text-decoration: none;
  background-color:#ffe6e6;
  border-color: #ffe6e6;
  border-radius: 25px;
  border-style: solid;
}
li a:hover {
    background-color: #e6ffff;
    color: #1a0000;
}
.body {
  padding: 0 0 0 15%;
}
.info {
  right: 10px;
  position: absolute;
  padding:10px 50px 10px 50px;
  background-color:#ffe6e6;
  color: #1a0000;
  border-color: #ffe6e6;
  border-radius: 25px;
  border-style: solid;
  height: 100%; /* Full height */
  overflow: auto;
}
