body {
  background-image: url("https://data.whicdn.com/images/270250915/original.gif");
  background-size: 1366px 1024px;
  color: #1a0000;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
    width: 10%;
    background-color: #CBBCEA;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border-color: #CBBCEA;
  border-radius: 25px;
  border-style: solid;
}
li a {
  display: block;
  width: 60px;
  color: #001a1a;
  padding: 8px 16px;
  text-decoration: none;
  background-color:#CBBCEA;
  border-color: #CBBCEA;
  border-radius: 25px;
  border-style: solid;
}
li a:hover {
    background-color: #ffe6e6;
    color: #001a1a;
    width: 55%;
}
.body {
  padding: 0 0 0 15%;
}
.th1, .th2, .th3, .th4, .th5, .th6, .th7{
  background-color:#CBBCEA;
  border-color: #CBBCEA;
  border-radius: 25px;
  border-style: solid;
  overflow: auto;
  padding: 10px 10px 10px 10px;
  text-decoration:none;
  color:#001a1a;
}
.break{
  height:10px;
}

/* text/decoration: none; for none underlined link*/